.blogs-item
  padding 20px 30px 20px 80px
  position relative
  line-height 20px
  cursor pointer
  .posit
    text-decoration none
  &:hover
    background #f6f7f7
  .score
    color #e36209
    font-size 1.1em
    font-weight 700
    position absolute
    top 50%
    left 0
    width 80px
    text-align center
    margin-top -10px
  .title
    a
      text-decoration none
      color #485763
  .meta, .labels
    font-size .85em
    color #788590
    text-decoration none
    a
      color #788590
      text-decoration underline
      &:hover
        color #d480aa

.list-item-left
  padding-left 28px

.repo-forked-icon
  vertical-align middle
  padding-bottom .2em
