.blogs-item
  padding 20px 30px 20px 80px
  position relative
  line-height 20px
  cursor pointer
  .posit
    text-decoration none
  &:hover
    background #f6f7f7
  .score
    color #e36209
    font-size 1.1em
    font-weight 700
    position absolute
    top 50%
    left 0
    width 80px
    text-align center
    margin-top -10px
  .title
    a
      text-decoration none
      color #485763
  .meta
    font-size .85em
    color #788590
    text-decoration none
    a
      color #788590
      text-decoration none
  .labels
    margin: 0 3px;
    font-size: 13px;
    color: #565b65;
    border: 1px solid #e1e1e1;
    background: #e8e8e8;
    border-radius: 3px;
    padding: 1px 3px 2px;

.list-item-left
  padding-left 28px

.repo-forked-icon
  vertical-align middle
  padding-bottom .2em
